@import '../util/index';

// ==========================================================================
// $MainVisual Img (メイン画像)
// ==========================================================================

.mainVisual-img{
    width: auto;
    height: auto;
    object-fit: cover;
}

// ==========================================================================
// $MainVisual HeadLine (メイン画像のタイトル)
// ==========================================================================


.mainVisual-headline{
    top: 55%;
    left: 3%;
    @include respond-below(md) {
        top: 65%;
        left: 1%;
    }
}

.mainVisual-headline__text{
    font-size: 10rem;
    color: $white;
    @include respond-below(md) {
        font-size: 4.5rem;
    }
}

// ==========================================================================
// $MainVisual Navigation (メイン画像のナビゲーション)
// ==========================================================================

.nav-txt{
    font-size: 1.7rem;
    margin: 0 0.25rem;
    color: $white;
}

.nav{
    padding-top: 2rem;
}

// ==========================================================================
// $Section Title (各セクションの見出し)
// ==========================================================================

.sectionTitle-txt{
    margin: 3rem;
    font-size: 6rem;
    padding-left: 2rem;
    border-left: solid 10px $light-gray;
    @include respond-below(md) {
        font-size: 3rem;
        margin: 2rem 0 2rem 0;
        padding-left: 1rem;
        border-left: solid 5px $light-gray;
    }
}

.sectionTitle-txt__Contact{
    margin: 0 0 3rem 0;
    font-size: 3rem;
    padding-left: 1rem;
    border-left: solid 7px $light-gray;
    @include respond-below(md) {
        font-size: 3rem;
        margin: 2rem 0 2rem 0;
        padding-left: 1rem;
        border-left: solid 5px $light-gray;
    }
}

// ==========================================================================
// $Section Text (各セクション内の紹介文)
// ==========================================================================

.sectionTxt{
    padding-top: 3rem;
    @include respond-below(md) {
        padding-top: 1.5rem;
    }
}

// ==========================================================================
// $About Img (Aboutセクション内の画像)
// ==========================================================================

.sectionImg__About{
    transform:translateX(150px);
    opacity: 0;
    transition:opacity 2s,transform 1.5s;
    padding: 0;
    @include respond-below(md) {
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

.sectionImg-img__About{
    width: 100%;
    height: 25rem;
    @include respond-below(md) {
        width: 100%;
        height: 15rem;
    }
}

// ==========================================================================
// $Services Img (Servicesセクションの各画像)
// ==========================================================================

.services-img{
    width: 100%;
    height: 25rem;
    background-size: cover;
    @include respond-below(md) {
        width: 100%;
        height: 15rem;
    }
}

.serviceImgBox__Pro{
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    transform:translateX(100px);
    opacity: 0;
    transition:opacity 1s,transform 1s;
    @include respond-below(md) {
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

.serviceImgBox__Edu{
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    transform:translateX(100px);
    opacity: 0;
    transition:opacity 1s,transform 1s;
    @include respond-below(md) {
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

.serviceImgBox__Seo{
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    transform:translateX(-100px);
    opacity: 0;
    transition:opacity 1s,transform 1s;
    @include respond-below(md) {
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

// ==========================================================================
// $Services Img (Servicesセクションの各画像の黒画像重ねた部分)
// ==========================================================================

.box-slicer{
    width: 500px;
    height: 150%;
    transform: rotate(-15deg) translateX(0);
    background-color: $black;
    z-index: 2;
    right: -220px;
    top: -100px;
    position: absolute;
    opacity: 80%;
    @include respond-below(md) {
        width: 500px;
        height: 120%;
        transform: rotate(-15deg) translateX(0);
        background-color: $black;
        z-index: 2;
        right: -320px;
        top: -70px;
        position: absolute;
        opacity: 80%;
    }
}

// ==========================================================================
// $Services HeadLine (Servicesセクションの各画像の見出し)
// ==========================================================================

.services-headline__Pro{
    top: 10%;
    right: 13%;
    z-index: 100;
    @include respond-below(md) {
        right: -50%;
    }
}

.services-headline__Seo{
    top: 10%;
    right: 18%;
    z-index: 100;
    @include respond-below(md) {
        right: -45%;
    }
}

.services-headline__Edu{
    top: 10%;
    right: 6%;
    z-index: 100;
    @include respond-below(md) {
        right: -55%;
    }
}

.services-headline__text{
    font-size: 3.5rem;
    color: $white;
    @include respond-below(md) {
        font-size: 2rem;
    }
}

// ==========================================================================
// $Member Background Img (Membersセクションの背景)
// ==========================================================================

.memberBg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
}


// ==========================================================================
// $Members Img (Membersセクションの画像)
// ==========================================================================

.members-box{
    height: 120%;
    @include respond-below(md) {
        height: 100%;
    }
}

.memberImg-img{
    width: 17rem;
    height: 17rem;
    object-fit: cover;
    transform:translateY(100px);
    opacity: 0;
    transition:opacity 1s,transform 1s;
    @include respond-below(md) {
        width: 10rem;
        height: 10rem;
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

// ==========================================================================
// $Blogs Img (blogsセクションの画像)
// ==========================================================================

.blogBox{
    width: 30%;
    @include respond-below(md) {
        width: 70%;
    }
}

.blog-tag{
    color: $black;
    background-color: $white;
    padding: 0.1rem 0.3rem;
    line-height: 0.2rem;
}

//cd : createDate
.blog-cd{
    line-height: 0.2rem;
    color: $white;
}

.card-body{
    background-color: $black;
    color: $white;
}

.blog-img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    @include respond-below(md) {
        width: 100%;
        height: 12rem;
    }
}

// ==========================================================================
// $Contact Section Background Img (コンタクトセクションの背景画像)
// ==========================================================================

.bgImg{
    width: 100%;
    height: 100%;
}

.bgImg-Contact{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include respond-below(md) {
        width: 120%;
        height: 100%;
    }
}

// ==========================================================================
// $Form (コンタクトフォーム部分)
// ==========================================================================

.form-box{
    top: 10%;
    width: 100%;
    height: 100%;
    opacity: 80%;
}

.form-group input{
    width: 80%;
    margin: 1% 0;
    background-color: $light-gray;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include respond-below(md) {
        width: 100%;
        margin: 0.5% 0;
    }
}

.form-group textarea {
    resize: none;
    width: 80%;
    height: 13rem;
    background-color: $light-gray;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include respond-below(md) {
        width: 100%;
    }
}

.button-send{
    width: 80%;
    background-color: $black;
    color: $white;
    padding: 0.5rem 0;
    @include respond-below(md) {
        width: 100%;
    }
}

