// ==========================================================================
// $FadeIn (スクロール時の画像のフェードイン)
// ==========================================================================

.fadein{
    opacity:1 !important;
    transform:translateX(0) !important;
}

// ==========================================================================
// $Img Hover (on状態で画像が明るくなります)
// ==========================================================================

.sectionImg-img__About,
.services-img,
.blog-img
{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.sectionImg-img__About:hover,
.services-img:hover,
.blog-img:hover{
    opacity: 70%;
}

// ==========================================================================
// $FadeIn (スクロール時のナビゲーション上部固定)
// ==========================================================================

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    color: $black !important;
}
